li{
  list-style: none;
}
a{
  text-decoration: none;
  color: white;
}
.container{
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 25px;
}
body{
  font-family: serif;
  letter-spacing: 5px;
  color: #5d5c5c;
  line-height: 1.7;
  letter-spacing: 0.1em;
}
img{
  vertical-align: bottom;
}
.section-title{
  font-family:'Raleway', sans-serif;
}



/* header */
#header-menu{
  background-color: #D1640B;
  height: 80px;
  line-height: 80px;
}
#header-menu ul{
  display: flex;
  justify-content: space-around;
}
#header-menu li{
  margin-right: 3%;
  font-size: 14px;
  /* border: 1px solid red; */
}
#header-menu li:nth-child(7){
  margin-right: 0;
}
#header-menu .header-logo{
  width: 100px;
}
.mainvisual img{
  width: 100%;
  height: calc(100vh - 80px);
  object-fit: cover;
}


/* concept */
section{
  margin-top: 100px;
  text-align: center;
  margin-bottom: 120px;
}
.section-title{
  font-size: 32px;
  letter-spacing: 7px;
  font-weight: normal;
}
.section-title span{
    font-size: 60px;
    margin-right: 5px;
    letter-spacing: normal;
    text-shadow: rgba(0, 0, 0, 0.1) 5px 5px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(204, 204, 204);
    border-image: initial;
    padding: 10px;
}
.subsection-title{
  /* margin-top: 20px; */
  letter-spacing: 7px;
  margin-bottom: 40px;
  font-weight: normal;
}

#new-menu .subsection-title{
  margin-bottom: 80px;
}
#concept{
  padding: 80px 0;
  padding-bottom: 100px;
  margin-bottom: 120px;
  background-color:#eee;
  /* border: 1px solid red; */
  margin-top: 0;
}
#concept img{
  height: 300px;
  width: 100%;
  object-fit: cover;
}
#concept .title{
  margin-top: 40px;
  font-size: 26px;
  letter-spacing: 7px;
  margin-bottom: 20px;
  font-weight: bold;
}
.strong .section-title{
  text-align: center;
  margin-top: 120px;
}
/* .strong-point{
  display: flex;
  justify-content: center;
  text-align: center;
} */
.strong{
  max-width: 820px;
  margin: 0 auto;
}
.strong-point{
  text-align: center;
  margin-top: 8%;
  margin-bottom: 160px;
}


.strong-point h5{
  font-weight: normal;
  font-size: 14px;
}
.concept-page .text-title{
  font-size: 28px;
}

.concept-page section{
  margin-bottom: 80px;
  margin-top: 0px;
}
.wrapper{
  display: flex;
}
.cild{
  flex-direction: row-reverse;
}
.wrapper .text, .wrapper img{
  width: 50%;
}
.wrapper .text{
  padding-top: 0px;
  width: 50%;
  /* background-color:#874a0ac3; */
  /* color: white; */
  /* border: 1px solid #D1640B; */
}
.wrapper img{
  padding: 0 30px;
  box-sizing: border-box;
  /* border: 1px solid red; */
}
.make img{
  padding-top: 30px;
  box-sizing: border-box;
}
.make .text{
  padding-top: 110px;
}
.balloon3-right-btm {
  position: relative;
  display: inline-block;
  margin: 1.5em 15px 1.5em 0;
  padding: 0 5px;
  width: 90px;
  height: 70px;
  line-height: 70px;
  text-align: center;
  color: #D1640B;
  font-size: 12px;
  font-weight: bold;
  background: #f9e3d4;
  border-radius: 50%;
  box-sizing: border-box;
  left: -70px;
  top: -10px;
  /* border: 1px solid red; */
}

.reverse{
  left: 80px;
  top: -10px;
}

.balloon3-right-btm:before {
  content: "";
  position: absolute;
  bottom: -8px;
  right: -8px;
  margin-top: -15px;
  border: 15px solid transparent;
  border-left: 15px solid #f9e3d4;
  z-index: 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);

}
.reverse:before {
  content: "";
  position: absolute;
  bottom: -10px;
  right: 70px;
  margin-top: -15px;
  border: 15px solid transparent;
  border-left: 15px solid #f9e3d4 ;
  z-index: 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(135deg);
}


/* item */
#item .menu-name{
  text-align: left;
  margin: 60px 0  50px 0;
  color:#d1640b;
  font-weight: bold;
  font-size: 18px;
  position: relative;
  display: inline-block;
  padding: 0 55px;
}
.menu-name br{
  display: none;
}

.menu-name:before, .menu-name:after {
  content: '';
  position: absolute;
  top: 50%;
  display: inline-block;
  width: 45px;
  height: 2px;
  background-color: #ccc;
}

.menu-name:before {
  left:0;
}
.menu-name:after {
  right: 0;
}
.menu{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  /* justify-content: space-evenly; */
  justify-content: space-between;
  margin-bottom: 60px;
}
.menu .box{
  width: 32%;
  padding: 16px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  /* border: 1px solid red; */
}
.menu:after{
  content:"";
  display: block;
  width: 32%;
  height: 0;
}
#item .menu-name{
  font-size: 18px;
}
.menu a p{
  color:#D1640B;
  text-align: left;
  margin-top: 10px;
  font-size: 16px;
}
.menu .menu-item img{
  width: 100%;
  /* display: block; */
}
#item .menu-item img:hover{
  opacity: 0.6;
  filter:brightness(110%);
}
.menu-item{
  width: 30%;
  margin-bottom: 50px;
}
#new-menu p{
  color:#D1640B;
  text-align: left;
  margin-top: 10px;
  font-weight:500;
}
#item .btn a{
  color:#5d5c5c;
}
/* curry */
#curry{
  font-family: serif;
  letter-spacing: 0.1em;
}
#curry img{
  width: 70%;
}
#currypan img{
  width: 60%;
}
#currypan h3{
  font-size: 24px;
  margin-bottom: 20px;
  color:#D1640B;
}
#curry .thought{
  margin-bottom: 50px;
}
.thought .piriod{
  margin: 20px 0;
}
.thought .identity{
  margin: 20px 0;
}
#curry .item-linenup{
  margin-bottom:50px;
}
.curry-method {
  text-align: left;
}
.curry-method ol{
  position: relative;
  margin: 0;
  padding: 0;
}
.curry-method ol li{
  list-style-position: outside;
  margin: 0;
  padding-left: 1.25em;
}
.curry-method ol li span{
  position: absolute;
  left: 0;
  margin: 0;
}
.curry-region{
  margin: 50px;
}
.cp_h2title {
	position: relative;
	padding: 0.1em 0.3em;
	border-left: 10px solid #D1640B;
  text-align: left;
  margin-bottom: 30px;
  margin-top: 60px;
  font-size: 22px;
}
.cp_h2title::after {
	position: absolute;
	left: 0;
	bottom: 0;
	content: '';
	width: 100%;
	height: 0;
	border-bottom: 3px solid #B0BEC5;
}

/* news */
#new{
  margin-bottom: 160px;
}
#new dl {
	border-top: 1px dashed #ccc;	/*上の幅、線種、色*/
}
/*日付設定*/
#new dt {
	float: left;
	width: 9em;		/*幅*/
	color: #d1640b;	/*文字色*/
	letter-spacing: 0.1em;
}
/*記事設定*/
#new dd {
	padding-left: 9em;
	border-bottom: 1px dashed #ccc;	/*下線の幅、線種、色*/
}
#new dt, #new dd{
  padding: 10px 0;
  text-align: left;
}
.newicon {
	background: #F00;	/*背景色*/
	color: #FFF;		/*文字色*/
	font-size: 70%;		/*文字サイズ*/
	line-height: 1.5;
	padding: 2px 5px;
	border-radius: 2px;
	margin: 0px 5px;
	vertical-align: text-top;
}


/* company */
.company{
  margin-bottom: 160px;
  font-family: serif;
}
.company .section-title{
  margin-bottom: 60px;
}
.company .container{
  max-width: 820px;
}
/*ta1設定*/
.ta1 {
	width: 100%;
	margin: 0 auto 30px;
	border-bottom: 1px solid #ccc;	/*テーブルの枠線の幅、線種、色*/
}
.ta1 td, .ta1 th {
	border-top: 1px solid #ccc;	/*テーブルの枠線の幅、線種、色*/
	padding: 10px 15px;	/*ボックス内の余白*/
	word-break: break-all;
  text-align: left;
  line-height: 1.7;
}
/*テーブル１行目に入った見出し部分*/
.ta1 th.tamidashi {
	width: auto;
	text-align: left;	/*左よせ*/
}
/*ta1の左側ボックス*/
.ta1 th {
	width: 160px;	/*幅*/
	text-align: left;	/*右寄せ*/
	background: #f3f3f3;	/*背景色*/
}
/*左側ボックスに画像を入れた場合の設定*/
.ta1 th img {
	width: 100%;
}


/* footer */
footer{
  background-color: #D1640B;
  /* height: 100px; */
  padding-top: 20px;
  font-size: 14px;
}
footer .container{
  display: flex;
  
}
footer .footer-list{
  width: 28%;
  /* border: 1px solid red; */
  /* width: 25%; */
  /* border: 1px solid red; */

}
.footer-list li{
  margin-bottom: 10px;
  text-align: left;
  padding-left: 20px;
  box-sizing: border-box;
}
.footer-icon{
  display: flex;
  padding-top: 30px;
 
}
.footer-icon img{
  width: 35px;
}
.footer-icon li:nth-child(1), .footer-icon li:nth-child(2){
  margin-right: 12px;
}
footer #copyright{
  text-align: center;
  font-size:10px;
  margin-top: 15px;
  padding-bottom: 10px;
}
footer .footer-logo{
  width: 170px;
  margin-right: 20px;
  /* border: 1px solid red; */
}



/* item-detail */



/* .cw-p .inner{
  display: flex;
} */

/* slider */
#slider img, #thumbs img{
  width: 100%;
}
#thumbs .slick-current img{
  border:2px solid #D1640B;
}
.slick-slide{
  padding:5px;
  box-sizing: border-box;
}
.container2{
  max-width: 820px;
  margin: 0 auto;
  padding: 0 25px;
}
.cw-p .section-title{
  margin: 80px 0;
  text-align: center;
}
.item-detail{
  /* border: 1px solid red; */
  box-sizing: border-box;
  padding: 30px 20px;
  font-family: serif;
}
.price{
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 40px;
}
.price span{
  font-size: 14px;
}
.cw-name{
  font-size: 24px;
  margin-bottom: 40px;
  color:#D1640B
}
.feature{
  margin-bottom: 40px;
}
.feature h3{
  font-size: 20px;
  margin-bottom: 7px;
}
.cw-p dt{
  font-weight: bold;
  font-size: 20px;
  margin-bottom:7px;
  
}
.cw-p dd{
  margin-bottom: 35px;
  font-size:14px;
}
.recommend h3{
  margin-bottom: 20px;
  font-size: 20px;
}
.recommend p{
  margin-bottom: 20px;
}
/* recommend slide */
.slider2 img {
  width:100%;/*スライダー内の画像を横幅100%に*/
  height:auto;
}
/*slickのJSで書かれるタグ内、スライド左右の余白調整*/

.slider2 .slick-slide {
  margin:0 10px;/*スライド左右の余白調整*/
}
/*========= レイアウトのためのCSS ===============*/

  .eee-page{
background:#eee;
  }  
.slider2{
padding: 0;
list-style: none;
margin-top: 40px;
margin-bottom: 40px;
}


.backbtn a{
  color: #333;
  border-bottom: 1px solid #333;
  padding-bottom: 5px;
}
.backbtn a:hover{
  color:#D1640B;
  border-bottom:1px solid #D1640B;
}
.backbtn{
  text-align: center;
  margin-bottom: 140px;
}


/* contact */
.contact-page .section-title{
  margin: 80px 0 60px 0;
}
.contact-table{
  width: 100%;
  margin-bottom: 40px;
}
.contact-item, .contact-body{
  padding: 20px;
  border: 1px solid #ccc;
}
.contact-item{
  text-align: left;
  width: 30%;
  background-color: #eee;
}
.contact-body{
  width: 70%;
}
input{
  width: 100%;
  padding:10px;
  /* border-radius: 5px; */
  border:1px solid #ccc;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  max-width: 400px;
  box-sizing: border-box;
}
textarea{
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  height: 200px;
  border: 1px solid #ccc;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  vertical-align: top;
}
.contact-submit{
  width: 200px;
  background-color: #333;
  color: white;
  border: none;
  font-weight: bold;
  display: block;
  margin: 0 auto;
  padding: 15px;
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 100vh;
  margin-bottom: 120px;
}
.contact-submit:hover{
  background-color: white;
  color: #333;
  border: 1px solid #333;
}
table input:focus, textarea:focus{
  outline: 2px solid #D1640B;
  border: none;
}



/* toggle-btn */
.toggle_btn {
  width: 30px;
  height: 30px;
  position: relative; /*基準*/
/*   0.5秒かけて変化させる */
  transition: all 0.5s;
  cursor: pointer;
  /* border: 1px dotted red; */
  display:none;
  z-index: 30;
}
.toggle_btn span {
  /* spanはインライン要素のため */
  display: block;
  width: 100%;
  height: 2px;
  background-color: white;
  transition: all 0.5s;
  position: absolute; /*対象*/
}
.toggle_btn span:nth-child(1) {
  top: 33%;
}
.toggle_btn span:nth-child(2) {
  top: 66%;
}
.open .toggle_btn span:nth-child(1) {
  top: 50%;
  transform: rotate(-45deg);
}
.open .toggle_btn span:nth-child(2) {
  top: 50%;
  transform:  rotate(45deg);
}
.container-sp{
  flex-direction: column;
  background-color: #D1640B;
  line-height: 1.6;
  text-align: center;
  position: fixed;
  top:0;
  width: 100%;
  z-index: 20;
  padding: 20px;
  /* display: none; */
  visibility: hidden;
}
.container-sp li{
  margin-top: 30px;
}
.open .container-sp{
  visibility: visible;
  flex-direction: column;
  background-color: #D1640B;
  line-height: 1.6;
  text-align: center;
  position: fixed;
  top:0;
  width: 100%;
  z-index: 20;
  padding: 20px;
}
/* .menu{
  flex-direction: column;
} */

/* privacy */
.privacy .section-title{
  margin: 80px 0;
  text-align: center;
}
.privacy p{
  margin-bottom: 40px;
}
.privacy h2{
  margin-bottom: 10px;
}
.privacy h3{
  margin-bottom: 10px;
}
.privacy{
  font-family: serif;
}
.privacy .last-p{
  margin-bottom: 120px;
}
.container3{
  max-width: 720px;
  margin: 0 auto;
  padding: 0 30px;
}

@media(max-width:960px){
  #header-menu li{
    margin-right: 2%;
    font-size: 12px;
    /* border: 1px solid red; */
  }
}
@media(max-width: 720px){
  #header-menu{
    height: 60px;
  }
  #header-menu .container{
    display: none;
  }
header{
    position: sticky;
    top: 0;
    z-index: 50;
  }
  .toggle_btn{
    margin-left: auto;
    top: 15px;
    right: 20px;
    display: block;
    position: fixed;
  }
  .section-title{
    font-size: 28px;
  }
  .section-title span{
    font-size: 46px;
  }
  section{
    margin-top: 60px;
    text-align: center;
    margin-bottom: 30px;
  }
  .menu-name br{
    display: block;
  }
  #item .menu-name{
    font-size: 16px;
  }
  .menu .box{
    margin-bottom: 30px;
    width: 48%;
  }
  .menu a p{
    color:#D1640B;
    text-align: left;
    margin-top: 10px;
    font-size: 12px;
  }
  .menu a p{
    text-align: center;
    font-weight: bold;
    margin-top: 13px;
  }
  #new dt, #new dd {
    font-size: 14px;
  }
  #new-menu p{
    text-align: center;
    margin-top: 13px;
    font-weight:bold;
    font-size: 12px;
  }
  .menu{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  #curry img{
    width: 100%;
  }
  #currypan{
    margin-top: 0px;
  }
  footer .container{
    flex-direction: column;
    
  }
  footer .footer-list{
    width: 100%;
    /* border: 1px solid red; */
    /* width: 25%; */
    /* border: 1px solid red; */
  
  }
 footer .container{
  text-align: center;
 }
 footer{
  font-size: 12px;
}
footer .footer-logo{
  width: 140px;
}
footer .footer-icon img{
  width: 28px;
}
 .cw-name{
  font-size: 18px;
  margin-bottom: 40px;
  margin-top: 30px;
  color:#D1640B
}
.item-detail{
  /* border: 1px solid red; */
  box-sizing: border-box;
  padding: 30px 20px 0px 20px;
  font-family: serif;
}

#curry img{
  width: 100%;
}
#curry{
  font-size: 14px;
  /* border: 1px solid red; */
  margin-top: 50px;
}
#currypan img{
  width: 100%;
}
#currypan h3{
  font-size: 20px;
  margin-bottom: 20px;
  color:#D1640B;
}
#curry .thought{
  margin-bottom: 50px;
}
.thought .piriod{
  margin: 15px 0;
}
.thought .identity{
  margin: 15px 0;
}
#curry .item-linenup{
  margin-bottom:40px;
}

.curry-region{
  margin: 30px;
}
.curry-method {
  margin-bottom: 80px;
}
.cp_h2title {
  margin-top: 50px;
  font-size: 18px;
}
#concept img{
  height: 200px;
}
#concept .title{
  margin-top: 40px;
  font-size: 20px;
  margin-bottom: 10px;
}
.concept-sub{
  font-size: 14px;
}
/* .strong-point{
  display: flex;
  justify-content: center;
  text-align: center;
} */
.strong{
  max-width: 820px;
  margin: 0 auto;
}
.strong-point{
  text-align: center;
  margin-top: 40px;
  margin-bottom: 120px;
}
.strong-point .wrapper{
  flex-direction: column;
}

.strong-point h5{
  font-weight: normal;
  font-size: 12px;
}
.concept-page .text-title{
  font-size: 22px;
}
.cild{
  flex-direction: row-reverse;
}
.wrapper .text, .wrapper img{
  width: 100%;
}
.wrapper .text{
  padding-top: 40px;
  width: 100%;
  /* background-color:#874a0ac3; */
  /* color: white; */
  border:none;
}
.wrapper img{
  padding: 0 30px;
  box-sizing: border-box;
  /* border: 1px solid red; */
}
.make img{
  padding-top: 20px;
  box-sizing: border-box;

}
.make .text{
  padding-top: 0px;
  margin-top:20px;
}
.reverse{
  left: -70px;
  top: -10px;
}
.reverse:before {
  content: "";
  position: absolute;
  bottom: -8px;
  right: -8px;
  margin-top: -15px;
  border: 15px solid transparent;
  border-left: 15px solid #f9e3d4;
  z-index: 0;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.wrapper img{
  width: 70%;
  margin: 0 auto;
}
.contact-table{
  font-size: 13px;
  letter-spacing: 0.05em;
}
.contact-item, .contact-body{
  padding: 20px 10px;
  border: 1px solid #ccc;
}
.feature h3{
  font-size: 18px;
}
.feature p{
  font-size: 14px;
}
.cw-p dt{
  font-size: 16px;
  
}
.cw-p dd{
  font-size:14px;
}
.recommend h3{
  font-size: 18px;
}
.recommend p{
 font-size: 14px;
}
.backbtn a{
  font-size: 14px;
}
.recommend{
  margin-bottom: 60px;
}
.privacy .section-title{
 font-size: 20px;
}
.privacy p{
  margin-bottom: 30px;
  font-size: 13px;
}
.privacy h3{
  font-size: 14px;
}
.ta1 th {
	width: 100px;	/*幅*/
	text-align: left;	/*右寄せ*/
	background: #f3f3f3;	/*背景色*/
}
.ta1{
  font-size: 14px;
}
}
